.App {
  text-align: center;

}

.customer-container{
  width: 90%;
  margin: auto;
}

.bg-purple{
  background-color: #A757B5;
}
.mt{
  margin-top: 8em;
  
}

.footer{
  clear: both;
  margin-top: 10em;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f3f3f3;
}

.footer-title{
  font-family: 'Roboto Mono', monospace;
}

.mb{
  margin-bottom: 10em;
}
